# Ignore everything in the repository
*

# Whitelist specific files and directories
!/Cargo.toml
!/Cargo.lock
!/crates
!/LICENSE-APACHE
!/LICENSE-MIT
!/README.md

!/tests/antithesis/libvoidstar.so
!/tests/antithesis/workloads
!/tests/antithesis/fjall
