[workspace]
resolver = "3"
members = ["crates/*"]

[workspace.package]
authors = ["orbitinghail <hello@orbitinghail.dev>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/orbitinghail/graft"
homepage = "https://github.com/orbitinghail/graft"
rust-version = "1.88"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1

[workspace.dependencies]
async-trait = "0.1.88"
hex = "0.4"
rusty_paseto = "0.7.2"
platform-dirs = "0.3.0"
sqlite-plugin = { version = "0.4.1", default-features = false }
splinter-rs = "0.6.0"
precept = "0.1"
assert_matches = "1.5"
axum = "0.8"
axum-test = "18.0"
blake3 = "1.7"
bs58 = "0.5"
bytes = "1.10"
bytestring = "1.4"
bilrost = "0.1014"
circular-buffer = "1.1"
clap = "4.5"
config = { version = "0.15", features = ["toml"] }
crossbeam = "0.8"
culprit = "0.4"
enum_dispatch = "0.3"
event-listener = "5.4"
file-lock = "2.1"
fjall = { version = "2.7", features = ["bytes"] }
foldhash = "0.2"
futures = "0.3"
glob = "0.3"
hashbrown = "0.16"
http = "1.3"
lsm-tree = { version = "2.7", features = ["bytes"] }
measured = "0.0.23"
memmap2 = "0.9"
object_store = "0.12"
parking_lot = "0.12"
proc-macro2 = "1.0"
prost = "0.14"
prost-types = "0.14"
quote = "1.0"
rand = "0.9"
rlimit = "0.10"
rusqlite = "0.37"
serde = "1.0"
serde_json = "1.0"
static_assertions = "1.1"
syn = "2.0"
tempfile = "3.19"
thiserror = "2.0"
tokio = "1"
tokio-util = "0.7"
tokio-stream = "0.1"
toml = "0.9"
tower-http = "0.6"
tracing = "0.1"
tracing-subscriber = "0.3"
tryiter = "0.6"
smallvec = "1.15.1"
ureq = { version = "3.0", default-features = false, features = [
  "rustls",
  "brotli",
] }
url = "2.5"
zerocopy = { version = "0.8", features = ["derive"] }
fuser = "0.15.1"
libc = "0.2"
quick_cache = "0.6"
serde_yaml = "0.9"

[workspace.lints.clippy]
disallowed_methods = "deny"
uninlined-format-args = "warn"
doc-markdown = "warn"
map-unwrap-or = "warn"
