[package]
name = "graft-sqlite-extension"
version = "0.1.4-rc.6"
edition = "2024"
authors = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
rust-version = { workspace = true }

[lib]
name = "graft"
crate-type = ["cdylib"]

[dependencies]
graft-core = { path = "../graft-core", version = "0.1.4-rc.6" }
graft-client = { path = "../graft-client", version = "0.1.4-rc.6" }
graft-sqlite = { path = "../graft-sqlite", version = "0.1.4-rc.6" }
graft-tracing = { path = "../graft-tracing", version = "0.1.4-rc.6" }

tracing = { workspace = true }
platform-dirs = { workspace = true }
serde = { workspace = true, features = ["derive"] }
config = { workspace = true, features = ["toml"] }
sqlite-plugin = { workspace = true, features = ["dynamic"] }
precept = { workspace = true }
url = { workspace = true, features = ["serde"] }

[lints]
workspace = true

[package.metadata.cargo-machete]
ignored = ["precept"]
