name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang llvm mold libncurses-dev build-essential
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.85
          components: clippy, rustfmt
      - uses: actions/checkout@v4
        with:
          token: ${{secrets.GITHUB_TOKEN}}
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest
      - name: Build
        run: cargo build
      - name: Test
        run: cargo nextest run
      - name: SQLite Tests
        run: ./sqlite_tests.sh
      - name: Clippy
        uses: auguwu/clippy-action@1.4.0
        with:
          token: ${{secrets.GITHUB_TOKEN}}
      - name: Cargo fmt
        run: cargo fmt --check
