name: Nightly

on:
  workflow_dispatch:
    inputs:
      duration:
        description: "Antithesis test duration in minutes"
        required: true
        default: 60
        type: number

  # schedule:
  #         ┌───────────── minute (0 - 59)
  #         │  ┌───────────── hour (0 - 23)
  #         │  │  ┌───────────── day of the month (1 - 31)
  #         │  │  │  ┌───────────── month (1 - 12 or JAN-DEC)
  #         │  │  │  │  ┌───────────── day of the week (0 - 6 or SUN-SAT)
  # - cron: " 0  7  *  *  *"
  # Run every day at 7:00 AM UTC = 12:00 AM PST

permissions:
  contents: read

env:
  REGISTRY: us-central1-docker.pkg.dev/molten-verve-216720/orbitinghail-repository

jobs:
  antithesis:
    name: Antithesis test run
    runs-on: ubuntu-24.04
    env:
      DOCKER_BUILD_SUMMARY: false
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Login to Google Artifact Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: us-central1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GAR_KEY }}

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          persist-credentials: false

      - name: Build test client image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: antithesis.Dockerfile
          pull: true
          push: true
          cache-from: type=registry,ref=${{env.REGISTRY}}/layercache
          cache-to: type=registry,ref=${{env.REGISTRY}}/layercache,mode=max,image-manifest=true
          tags: ${{env.REGISTRY}}/test_client:${{github.sha}}
          target: test_client

      - name: Build antithesis config image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: tests/antithesis
          pull: true
          push: true
          tags: ${{env.REGISTRY}}/config:${{github.sha}}
          build-args: |
            TAG=${{github.sha}}

      - name: Get Commit Summary
        id: commit_summary
        run: echo "COMMIT_SUMMARY=$(git show-branch)" >> "$GITHUB_OUTPUT"

      - name: Run Antithesis Tests
        uses: antithesishq/antithesis-trigger-action@6c0a27302c0a3cd97d87d40bd6704e673abed4bb # v0.9
        with:
          notebook_name: basic_test
          tenant: orbitinghail
          username: orbitinghail
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_ANTITHESIS_PAT }}
          config_image: ${{ env.REGISTRY }}/config:${{github.sha}}
          images: ${{ env.REGISTRY }}/test_client:${{github.sha}}
          test_name: "github actions: antithesis nightly test run"
          description: "github actions: ${{ github.sha }}: ${{ steps.commit_summary.outputs.COMMIT_SUMMARY }}"
          email_recipients: antithesis-results@orbitinghail.dev
          additional_parameters: |-
            antithesis.duration=${{inputs.duration || 420}}
