name: Nightly

on:
  workflow_dispatch:
    inputs:
      duration:
        description: "Antithesis test duration in minutes"
        required: true
        default: 60
        type: number

  schedule:
    #         ┌───────────── minute (0 - 59)
    #         │  ┌───────────── hour (0 - 23)
    #         │  │  ┌───────────── day of the month (1 - 31)
    #         │  │  │  ┌───────────── month (1 - 12 or JAN-DEC)
    #         │  │  │  │  ┌───────────── day of the week (0 - 6 or SUN-SAT)
    - cron: " 0  7  *  *  *"
    # Run every day at 7:00 AM UTC = 12:00 AM PST

permissions:
  contents: read

env:
  REGISTRY: us-central1-docker.pkg.dev/molten-verve-216720/orbitinghail-repository

jobs:
  docker:
    name: Build pagestore & metastore images
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    env:
      DOCKER_BUILD_SUMMARY: false
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          persist-credentials: false

      - name: Build metastore image
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6
        with:
          context: .
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
          target: metastore

      - name: Build pagestore image
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6
        with:
          context: .
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
          target: pagestore

  antithesis:
    name: Antithesis test run
    runs-on: ubuntu-24.04
    env:
      DOCKER_BUILD_SUMMARY: false
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3

      - name: Login to Google Artifact Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: us-central1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GAR_KEY }}

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          persist-credentials: false

      - name: Build metastore image
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6
        with:
          context: .
          pull: true
          push: true
          tags: ${{env.REGISTRY}}/metastore:${{github.sha}}
          cache-from: type=registry,ref=${{env.REGISTRY}}/layercache
          cache-to: type=registry,ref=${{env.REGISTRY}}/layercache,mode=max,image-manifest=true
          platforms: linux/amd64
          target: metastore
          build-args: INSTRUMENTED=1

      - name: Build pagestore image
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6
        with:
          context: .
          pull: true
          push: true
          tags: ${{env.REGISTRY}}/pagestore:${{github.sha}}
          platforms: linux/amd64
          target: pagestore
          build-args: INSTRUMENTED=1

      - name: Build test workload image
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6
        with:
          context: .
          pull: true
          push: true
          tags: ${{env.REGISTRY}}/test_workload:${{github.sha}}
          platforms: linux/amd64
          target: test_workload
          build-args: INSTRUMENTED=1

      - name: Build minio image
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6
        with:
          context: tests/antithesis/minio
          pull: true
          push: true
          tags: ${{env.REGISTRY}}/minio:${{github.sha}}
          platforms: linux/amd64
          build-args: INSTRUMENTED=1

      - name: Build antithesis config image
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6
        with:
          context: tests/antithesis
          pull: true
          push: true
          tags: ${{env.REGISTRY}}/config:${{github.sha}}
          platforms: linux/amd64
          build-args: |
            INSTRUMENTED=1
            TAG=${{github.sha}}

      - name: Get Commit Summary
        id: commit_summary
        run: echo "COMMIT_SUMMARY=$(git show-branch)" >> "$GITHUB_OUTPUT"

      - name: Run Antithesis Tests
        uses: antithesishq/antithesis-trigger-action@b7d0c9d1d9316bd4de73a44144c56636ea3a64ba # v0.8
        with:
          notebook_name: basic_test
          tenant: orbitinghail
          username: orbitinghail
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_ANTITHESIS_PAT }}
          config_image: ${{ env.REGISTRY }}/config:${{github.sha}}
          images: ${{ env.REGISTRY }}/metastore:${{github.sha}};${{ env.REGISTRY }}/pagestore:${{github.sha}};${{ env.REGISTRY }}/test_workload:${{github.sha}};${{ env.REGISTRY }}/minio:${{github.sha}}
          test_name: "github actions: antithesis nightly test run"
          description: "github actions: ${{ github.sha }}: ${{ steps.commit_summary.outputs.COMMIT_SUMMARY }}"
          email_recipients: antithesis-results@orbitinghail.dev
          additional_parameters: |-
            antithesis.duration=${{inputs.duration || 420}}
