name: Release libgraft

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        platform:
          - os-name: Linux-x86_64
            runs-on: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
            setup: |
              sudo apt-get update
              sudo apt-get install -y mold libclang-dev clang
            pre-build: ""
            post-build: |
              cd target/release
              tar -czf libgraft-linux-x86_64.tar.gz libgraft.so
            artifact_name: libgraft-linux-x86_64.tar.gz

          - os-name: Linux-aarch64
            runs-on: ubuntu-24.04
            target: aarch64-unknown-linux-gnu
            setup: |
              sudo apt-get update
              sudo apt-get install -y mold libclang-dev clang
            pre-build: ""
            post-build: |
              cd target/release
              tar -czf libgraft-linux-aarch64.tar.gz libgraft.so
            artifact_name: libgraft-linux-aarch64.tar.gz

          - os-name: Windows-x86_64
            runs-on: windows-2022
            target: x86_64-pc-windows-msvc
            setup: ""
            pre-build: ""
            post-build: |
              cd .\target\release
              Rename-Item graft.dll libgraft.dll
              Compress-Archive `
                -Path ".\libgraft.dll" `
                -DestinationPath ".\libgraft-windows-x86_64.zip"
            artifact_name: libgraft-windows-x86_64.zip

          - os-name: Windows-aarch64
            runs-on: windows-2022
            target: aarch64-pc-windows-msvc
            setup: ""
            pre-build: ""
            post-build: |
              cd .\target\release
              Rename-Item graft.dll libgraft.dll
              Compress-Archive `
                -Path ".\libgraft.dll" `
                -DestinationPath ".\libgraft-windows-x86_64.zip"
            artifact_name: libgraft-windows-aarch64.zip

          - os-name: macOS-x86_64
            runs-on: macOS-14
            target: x86_64-apple-darwin
            setup: ""
            pre-build: export LIBCLANG_PATH=$(brew --prefix llvm@15)/lib
            post-build: |
              cd target/release
              tar -czf libgraft-macos-x86_64.tar.gz libgraft.dylib
            artifact_name: libgraft-macos-x86_64.tar.gz

          - os-name: macOS-aarch64
            runs-on: macOS-14
            target: aarch64-apple-darwin
            setup: ""
            pre-build: export LIBCLANG_PATH=$(brew --prefix llvm@15)/lib
            post-build: |
              cd target/release
              tar -czf libgraft-macos-aarch64.tar.gz libgraft.dylib
            artifact_name: libgraft-macos-aarch64.tar.gz

    name: Build - ${{ matrix.platform.os-name }}
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: system dependencies
        run: ${{ matrix.platform.setup }}

      - uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1 # v1
        with:
          toolchain: 1.85

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2

      - name: Build libgraft
        run: |
          ${{ matrix.platform.pre-build }}
          cargo build --release --features precept/disabled --package graft-sqlite-extension
          ${{ matrix.platform.post-build }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2
        with:
          draft: true
          generate_release_notes: true
          files: target/release/${{ matrix.platform.artifact_name }}
