name: Release Graft

on:
  workflow_run:
    workflows: ["Prepare release"]
    types: [completed]
    branches:
      - "release/**"

  workflow_dispatch:
    inputs:
      head_sha:
        description: "The commit to release"
        required: true
        type: string
      run_id:
        description: "The corresponding release-prep run ID"
        required: true
        type: string

concurrency:
  group: release-publish
  cancel-in-progress: true

jobs:
  notify:
    # Only continue if the upstream workflow finished without errors
    # Or if this was a manual dispatch
    if: |
      github.event.workflow_run.conclusion == 'success'
      || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-24.04
    permissions:
      checks: write
    outputs:
      head_sha: ${{ steps.config.outputs.head_sha }}
      run_id: ${{ steps.config.outputs.run_id }}
    steps:
      - name: Configure Release
        id: config
        run: |
          case "${{ github.event_name }}" in
            workflow_run)
              echo "head_sha=${{ github.event.workflow_run.head_sha }}" >> "$GITHUB_OUTPUT"
              echo "run_id=${{ github.event.workflow_run.id }}" >> "$GITHUB_OUTPUT"
              ;;
            workflow_dispatch)
              echo "head_sha=${{ inputs.head_sha }}" >> "$GITHUB_OUTPUT"
              echo "run_id=${{ inputs.run_id }}" >> "$GITHUB_OUTPUT"
              ;;
            *)
              echo "ERROR: unsupported github event"
              echo "event: ${{ github.event_name }}"
              exit 1
              ;;
          esac

      - name: Update summary
        run: |
          echo 'Triggered by commit: ${{ steps.config.outputs.head_sha }}' >> $GITHUB_STEP_SUMMARY
          COMMIT_URL="https://github.com/orbitinghail/graft/commit/${{ steps.config.outputs.head_sha }}"
          echo "$COMMIT_URL" >>"$GITHUB_STEP_SUMMARY"
          RUN_URL="https://github.com/orbitinghail/graft/actions/runs/${{ steps.config.outputs.run_id }}"
          echo "$RUN_URL" >>"$GITHUB_STEP_SUMMARY"

      - name: Post GitHub check
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        env:
          HEAD_SHA: ${{ steps.config.outputs.head_sha }}
        with:
          script: |
            // the sha we are releasing
            const sha = process.env.HEAD_SHA;
            // the url of *this* run
            const runUrl = `https://github.com/orbitinghail/graft/actions/runs/${context.runId}`;

            await github.rest.checks.create({
              owner,
              repo,
              name: "Ready to release",
              head_sha: sha,
              status: "completed",
              conclusion: "success",
              output: {
                title: "Ready to release",
                summary: `See full run [here](${runUrl}).`
              },
              details_url: runUrl
            });

  release:
    needs: notify
    runs-on: ubuntu-24.04
    environment: publishing
    permissions:
      contents: write
      id-token: write
      packages: write
      actions: read

    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        id: app-token
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            graft
            Graft.swift

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ needs.notify.outputs.head_sha }}
          fetch-tags: true
          fetch-depth: 0

      - name: Download distx artifact from the 'Prepare release' run
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          name: distx
          run-id: ${{ needs.notify.outputs.run_id }}
          path: distx/
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Read metadata files
        id: meta
        run: |
          set -euo pipefail
          VERSION=$(cat distx/version)

          echo "version=$VERSION" >>"$GITHUB_OUTPUT"
          if [[ "$VERSION" == *-rc* ]]; then
            echo "prerelease=true" >>"$GITHUB_OUTPUT"
            PRERELEASE_TAG="${VERSION#*-}"
            echo "version-tag=$PRERELEASE_TAG" >>"$GITHUB_OUTPUT"
          else
            echo "prerelease=false" >>"$GITHUB_OUTPUT"
            echo "version-tag=latest" >>"$GITHUB_OUTPUT"
          fi

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "latest"
          registry-url: "https://registry.npmjs.org"

      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
        with:
          enable-cache: false
          cache-dependency-glob: ""

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4.7"

      - name: Get GitHub Bot User ID
        id: get-bot-id
        run: echo "bot-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Configure git
        run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-bot-id.outputs.bot-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'

      - name: Push git tag
        run: |
          set -euo pipefail
          TAG_NAME="v${{ steps.meta.outputs.version }}"
          git tag -a "$TAG_NAME" -m "Release $TAG_NAME"
          git push origin "$TAG_NAME"

      - name: Update GitHub Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          name: v${{ steps.meta.outputs.version }}
          draft: false
          tag_name: v${{ steps.meta.outputs.version }}
          prerelease: ${{ steps.meta.outputs.prerelease }}
          make_latest: ${{ steps.meta.outputs.prerelease == 'false' }}

      - name: Publish crates
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          set -euo pipefail
          CRATES=(
            graft
            graft-sqlite
          )
          for crate in "${CRATES[@]}"; do
            cargo publish --no-verify -p "$crate"
          done

      - name: Publish NPM Packages
        run: |
          VERSION_TAG="--tag ${{ steps.meta.outputs.version-tag }}"
          for file in distx/npm/*; do
            npm publish --access public $VERSION_TAG "$file"
          done

      - name: Publish Ruby Packages
        run: |
          for file in distx/gem/*; do
            gem push "$file"
          done
        env:
          GEM_HOST_API_KEY: ${{ secrets.GEM_HOST_API_KEY }}

      - name: Publish PyPI Packages
        run: |
          uv publish distx/pip/*
          uv publish distx/datasette/*
          uv publish distx/sqlite_utils/*

      - name: Trigger Swift package update
        uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc # v1.2.4
        with:
          workflow: update.yml
          repo: orbitinghail/Graft.swift
          ref: main
          token: ${{ steps.app-token.outputs.token }}
